DOCKER_SHARED_PATH="~/docker-data"
DOCKER_CONTAINERS="apache php phpcli elastic adminer mysql selenium mailhog node"
DOCKER_PHP_VERSION="7.1"
DOCKER_MYSQL_VERSION="5.7"
DOCKER_NODE_VERSION="8.11"
DOCKER_YARN_PATH="themes/project"
DOCKER_CLISCRIPT_PATH="vendor/silverstripe/framework/cli-script.php"
